## Data Lake and Warehouse

In [1]:
import os
from datetime import datetime
import pandas as pd
import requests
import pandas as pd
import sqlite3
from bs4 import BeautifulSoup

C:\Users\jonas\Anaconda3\envs\ML\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\jonas\Anaconda3\envs\ML\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\jonas\Anaconda3\envs\ML\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

## Web Scraping

In [2]:
STORAGE_DIR = "local"

In [3]:
# List of news pages to be scraped
newspaper_urls = dict(
    sz="https://www.sueddeutsche.de/",
    zeit="https://www.zeit.de/index",
    faz="https://www.faz.net/aktuell/",
    ts="https://www.tagesspiegel.de/",
    spiegel="https://www.spiegel.de/",
    kronen="https://www.krone.at/",
    wtf="https://asdfkajwlkejwkejklajsdflksadjfasdf.nix",
)

In [4]:
# Current date as string
now = datetime.now()
now_str = now.strftime("%Y-%m-%d")
print(now_str)

2021-04-23

In [5]:
content_dict = {}
text_dict = {}
log_list = []
failing_list = []

In [6]:
def scrape_website(name, url):

    # (1) Run request
    response = requests.get(url, allow_redirects=True)
    content = response.content
    text = response.text

    # (2) File name to store the raw HTML
    file_name = os.path.join(
        STORAGE_DIR,
        f"{now_str}-{name}.html",
    )

    # (3) Write raw HTML
    with open(file_name, "wb") as f:
        f.write(response.content)

    # (4) Fill content_dict and text_dict
    content_dict[name] = response.content
    text_dict[name] = response.text

    # (5) Fill log_list
    log_info = dict(
        name=name,
        date=now_str,
        file_name=file_name,
        status=response.status_code,
        url=response.url,
        encoding=response.encoding,
    )
    log_list.append(log_info)

In [7]:
for name, url in newspaper_urls.items():
    try:
        scrape_website(name, url)
    except:
        failing_list.append((name, url))

In [8]:
log_df = pd.DataFrame(log_list)
log_df

,name,date,file_name,status,url,encoding
0,sz,2021-04-23,local\2021-04-23-sz.html,200,https://www.sueddeutsche.de/,UTF-8
1,zeit,2021-04-23,local\2021-04-23-zeit.html,200,https://www.zeit.de/index,UTF-8
2,faz,2021-04-23,local\2021-04-23-faz.html,200,https://www.faz.net/aktuell/,utf-8
3,ts,2021-04-23,local\2021-04-23-ts.html,200,https://www.tagesspiegel.de/,utf-8
4,spiegel,2021-04-23,local\2021-04-23-spiegel.html,200,https://www.spiegel.de/,utf-8
5,kronen,2021-04-23,local\2021-04-23-kronen.html,200,https://www.krone.at/,ISO-8859-1

In [9]:
log_file_name = os.path.join(
    STORAGE_DIR,
    f"{now_str}.csv",
)

In [11]:
log_df.to_csv(log_file_name)

## Word Count

In [12]:
stopwords_url = "https://raw.githubusercontent.com/solariz/german_stopwords/master/german_stopwords_full.txt"
stopwords_list = requests.get(stopwords_url, allow_redirects=True).text.split("\n")[9:]

In [13]:
def process_html(text):
    text = BeautifulSoup(text, "html.parser").text
    items = text.replace("\n", " ").lower().split(" ")
    items = [i for i in items if len(i) > 1 and i not in stopwords_list]
    return items

In [14]:
data = pd.DataFrame()
for name, text in text_dict.items():
    items = process_html(text)
    new = pd.Series(items).value_counts().to_frame()
    new.columns = ["count"]
    new["word"] = new.index
    new["name"] = name
    new["date"] = now_str
    data = pd.concat([data, new])

In [16]:
data

,count,word,name,date
bilder,83,bilder,sz,2021-04-23
sz,62,sz,sz,2021-04-23
gutschein,39,gutschein,sz,2021-04-23
plus,35,plus,sz,2021-04-23
momentaufnahmen,23,momentaufnahmen,sz,2021-04-23
...,...,...,...,...
-12%,1,-12%,kronen,2021-04-23
musik-videos,1,musik-videos,kronen,2021-04-23
nachfan.at-fuãballtalk:der,1,nachfan.at-fuãballtalk:der,kronen,2021-04-23
bleiben!âin,1,bleiben!âin,kronen,2021-04-23
bleiben!âniederã¶sterreichopfer,1,bleiben!âniederã¶sterreichopfer,kronen,2021-04-23

In [17]:
data.loc[data["word"].str.contains("impfung"),]

                       count                   word     name        date
corona-impfungen           3       corona-impfungen       sz  2021-04-23
corona-impfung             1         corona-impfung       sz  2021-04-23
impfung                    1                impfung       sz  2021-04-23
corona-impfung:            3        corona-impfung:     zeit  2021-04-23
corona-impfungen           1       corona-impfungen     zeit  2021-04-23
impfungen:                 1             impfungen:      faz  2021-04-23
impfung                    1                impfung      faz  2021-04-23
impfungen                  3              impfungen       ts  2021-04-23
corona-impfungen           1       corona-impfungen       ts  2021-04-23
impfungen                  1              impfungen  spiegel  2021-04-23
astrazeneca-impfungen      1  astrazeneca-impfungen  spiegel  2021-04-23
impfung                    2                impfung   kronen  2021-04-23

## SQLite

In [18]:
SQL_PATH = os.path.join("dwh.sqlite3")

In [19]:
connection = sqlite3.connect(SQL_PATH)
data.to_sql("wordcount", connection, index=False, if_exists="append")